
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h1>Deneyim Ekleme</h1>
<form method="post">
    <br />
    <label>Başlık</label>
    <input type="text" name="Baslik" class="form-control" />
    <br />
    <label>Altbaşlık</label>
    <input type="text" name="Altbaslik" class="form-control" />
    <br />
    <label>Tarih</label>
    <input type="text" name="Tarih" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" name="Aciklama" class="form-control" />
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>


