@model Cv.Models.Entity.İletişim

<div class="resume-section-content">
    <h2 class="mb-5">Hobilerim</h2>
    <form method="post">
        <label>AD SOYAD</label>
        <input type="text" class="form-control" name="AdSoyad" />

        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" />

        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" />

        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj" />
        <br />
        <button class="btn btn-info">Gönder</button>

    </form>

</div>



